html {
  overflow: scroll;
  overflow-x: hidden;
}

  ::-webkit-scrollbar {
    width:0 ; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.fullscreen {
  max-width: 100rem /* 1280px */;

}
.darkmode {
  background-image: url(../public/bg.jpg);
}

@media screen and (max-width: 800px) {
  .sidehidmm {
    display: none;   
  }
}
@media screen and (min-width: 1100px) {
  .sidpadding {
    margin:0;  
  }
}





















